/* Estilo para el botón de cerrar sesión */
.cerrar-sesion a {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color:#c70505;
    color: #ddd;
    padding: 12px 20px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    z-index:999;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.cerrar-sesion a:hover {
    background-color: #ec0000;
    transform: scale(0.97);

}
.cerrar-sesion a:activate{ 
    background-color: #961f1f; 
    transform: scale(0.97);
}